<%#<form method="post" action="/pizza-orders/:id/delete">
  <label for="id">Id to delete:</label>
  <input id="id" type="number" name="id" />
  <input type="submit" value="Delete Pizza" />
</form>%>
<p>deleted!</p>
redirect '/pizza-orders'
