<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header">
  </div>
  <div class="content">
    <h1>CodeClan Pizza Shop</h1>
    <nav>
      <ul>
        <li><a href="/pizza-orders">View Pizza Orders</a></li>
        <li><a href="/pizza-orders/new">Create a New Pizza Order</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
  <div class="footer">
  </div>
</body>
</html>
